
<%= render template: "layouts/profesores" %>


        <div class="py-5" >
          <div class="container">

            <div class="row">

              <div class="col-md-3">
                <div>
                  <a href="/asesoria_g/alumnosb">Mis Asesorias</a>  |  <a href="#">Mis datos</a> |  <a href="/asesoria_g/chat">Mensajes</a>              </div>

              </div>


           <div class="col-md-3"  >


          </div>

          <div class="col-md-6">


                <form class="form-inline m-0" action="/asesoria_g/buscador">
                  <input class="form-control mr-2" name="keyboard" type="text" placeholder="Buscar profesor" style="padding-right:200px">
                  <button class="btn btn-primary" type="submit">Buscar </button>
                </form>


                            <!----------------------------




                <%= form_tag "/asesoria_g/buscador", method: :get do %>
                <%=text_field_tag :keyboard, nil, placeholder: "Busqueda especifica" %>
                <%=content_tag :button, type: :submit do %>
                Buscar
                <%end%>
                  <%end%>

------------------------------>
              </div>



        </div>


        <hr>

            <div class="row">


              <div class="col-md-3">
                <h1>Carrera</h1>
                <div class="list-group">
                  <%  for   @pro in  @carrera      %>



                  <a id="<%=@pro["id"]%>" href= "/asesoria_g/carreraelecta?carrera=<%=@pro["id"]%>" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Universidad_de_Lima</p>
                    <small class="text-muted">Seleccione carrera</small>
                  </a>
                  <br>

                  <% end    %>



                </div>
              </div>





              <script type="text/javascript">



              function crearasesori(){

                document.getElementById("idases").style.display="none";


              }

              function horasc(){
                ad=document.getElementById("dateoo").value


                var aa = parseInt(ad)+2

                document.getElementById("ddd").innerHTML = ad +"-"+aa + " "+ "horas"


              }

              function fechasc(){
                document.getElementById("dateoo").value=0



                document.getElementById("ddd").innerHTML = " "


              }




            </script>


            <!---------------------------------------------------------->



            <div class="col-md-3">



              <h1>Curso</h1>
              <%  if @busquedacursos==true         %>

              <div class="list-group">

                <%  for   @pro in  @cursot      %>



                <a id="<%=@pro["id"]%>" href= "/asesoria_g/cursoselec?cursoelec=<%=@pro["id"]%>&idcarrera=<%=@filacarrera%>" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Universidad_de_Lima</p>
                  <small class="text-muted">Seleccione carrera</small>
                </a>
<br>
                <% end    %>






              </div>

              <%  end        %>
            </div>










<!------------------------------------------------------------------------------------>

          <%  if @mensaje==true         %>
            <script type="text/javascript">
            document.getElementById("crearasesorispanel").style.display="block";
            document.getElementById("<%=@idaseroriaaa%>").style.boxShadow = "10px 10px 30px lightblue";


          </script>

          <%end%>


          <div class="col-md-3">

            <h1>Profesor</h1>
            <%  if @busquedaprofesores==true         %>

            <div class="list-group">

              <%  for   @pro in  @Profesor    %>



              <a id="<%=@pro["id"]%>" href= "/asesoria_g/profeselec?profselec=<%=@pro["id"]%>&idcarrera=<%=@filacarrera%>&idcursosec=<%=@filacursosec%>" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= @pro["nombre"] %> / <%= @pro["idsec"] %></h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Universidad_de_Lima</p>
                <small class="text-muted">Seleccione carrera</small>
              </a>

              <% end    %>


            </div>
            <%  end        %>



            <%  if @dsds==true         %>

          <%  for   @pro in  @resultados      %>



          <a id="<%=@pro["id"]%>" href= "/asesoria_g/carreraelecta?carrera=<%=@pro["id"]%>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Universidad_de_Lima</p>
            <small class="text-muted">Seleccione carrera</small>
          </a>
          <br>

          <% end    %>

          <% end    %>
          </div>


          <!---------------------------------------------------------->



          <div class="col-md-3">

            <h1>Asesorias</h1>

            <%  if @asesoria1==true         %>

            <div class="list-group">
              <%  for   @pro in  @asesoria      %>

              <ul class="list-group">
                <a  href= "/asesoria_g/solicitarase?cursoselecto=<%=@pro["id"]%>" >

                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= @pro["lugar"] %>/<%=@pro["nombre"]%>/<%=@pro["idsec"]%>

                  <br>
                 <small class="text-muted"><%= @pro["fecha"] %></small>
                 <span class="badge badge-primary badge-pill">#/4</span>

                  </li>

                </ul>

                <br>


                <% end    %>

              </div>

              <% end    %>

              <%  if @asesoria2==true         %>

              <div class="list-group">
                <%  for   @pro in  @asesoria      %>

                <ul class="list-group">
                  <a  href= "/asesoria_g/solicitarase?cursoselecto=<%=@pro["id"]%>" >

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <%= @pro["lugar"] %>/<%=@pro["nombre"]%>/<%=@pro["idsec"]%>
                      <br>
                     <small class="text-muted"><%= @pro["fecha"] %></small>
                     <span class="badge badge-primary badge-pill">#/4</span>

                      </li>

                  </ul>
                  <br>


                  <% end    %>

                </div>

                <% end    %>

                <%  if @asesoria3==true         %>

                <div class="list-group">
                  <%  for   @pro in  @asesoria      %>

                  <ul class="list-group">
                    <a  href= "/asesoria_g/solicitarase?cursoselecto=<%=@pro["id"]%>" >

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                      <%= @pro["lugar"] %>/<%=@pro["nombre"]%>/<%=@pro["idsec"]%>
                      <br>
                     <small class="text-muted"><%= @pro["fecha"] %></small>
                     <span class="badge badge-primary badge-pill">#/4</span>
  </li>

                    </ul>
                    <br>


                    <% end    %>

                  </div>

                  <% end    %>


            </div>



            <!---------------------------------------------------------->












          </div>
        </div>
      </div>
