
<%= render template: "layouts/profesores" %>


        <div class="py-5" >
          <div class="container">

            <div class="row">

              <div class="col-md-3">
                <div>
                  <a href="/asesoria_g/alumnosb">Mis Asesorias</a>  |  <a href="#">Mis datos</a> |  <a href="/asesoria_g/chat">Mensajes</a>              </div>

              </div>


           <div class="col-md-3"  >


          </div>

          <div class="col-md-6">


                <form class="form-inline m-0" action="/asesoria_g/buscador">
                  <input class="form-control mr-2"name="keyboard" id="Nombre"  onkeyup="myFunction()"  onkeypress="eliminar()" type="text" placeholder="Buscar profesor" style="padding-right:200px">

                  <button class="btn btn-primary" type="submit">Buscar </button>
            </form>


                            <!----------------------------




                <%= form_tag "/asesoria_g/buscador", method: :get do %>
                <%=text_field_tag :keyboard, nil, placeholder: "Busqueda especifica" %>
                <%=content_tag :button, type: :submit do %>
                Buscar
                <%end%>
                  <%end%>

------------------------------>
              </div>

          <ul id="coincidencias"></ul>

          <table class="table"  >
            <thead>
              <tr>

                <br>   <a id="id_depS" style="color:#FF0000"></a></br>
              </tr>
            </thead>
            <tbody >
            </tbody>
          </table>

        </div>



        <script type="text/javascript">




          function evto(depa){
            var element = document.getElementsByTagName("td")
            for (i = 0; i< element.length; i++) {
              element[i].onclick=function(evt){
                console.log(evt.target)
               var aa=evt.target;
                document.getElementById('id_depS').innerHTML=aa.id;
                document.getElementById('Nombre').value=aa.innerHTML;

              }
            }
            return element;
          }



          function eliminar(){
            var cell = document.getElementById("cuerpo_tabla");

            if ( cell.hasChildNodes() )
            {
              while ( cell.childNodes.length >= 1 )
              {
                cell.removeChild( cell.firstChild );
              }
            }

          }


          function verificar (){
          if(document.getElementById("Nombre").value=="")  {
            eliminar();
          }


          }



          var obtener_fila_pokemon = function(depa){
            // Esta funcion creará una fila en la tabla
            // de pokemones.

            var elemTR = document.createElement("tr");
            var elemTDNombre = document.createElement("td");

            var textNodeNombre = document.createTextNode(depa.nombre);



            elemTDNombre.appendChild(textNodeNombre);
            elemTDNombre.setAttribute("id",depa.id)
            elemTDNombre.setAttribute("style","color:red;")


            elemTR.appendChild(elemTDNombre);


            return elemTR;



          };


        function myFunction() {

          var oReq = new XMLHttpRequest();
          oReq.open('GET', '/api/v1/usuarios/'+ document.getElementById("Nombre").value);
          oReq.addEventListener('load', function(evt){

            var canal = evt.target;
            var jsonListaPokemones = JSON.parse(canal.responseText);
            var le=jsonListaPokemones.data;
            for (var i =0; i< le.length; i++){
              var depa = le[i];
              console.log(depa);
              var fila = obtener_fila_pokemon(depa);



              var cuerpo_tabla = document.getElementById('cuerpo_tabla');
              cuerpo_tabla.appendChild(fila);
              evto(depa);
              verificar();



            }

          }






        );
        oReq.send();





        };









        function actualizar()
        {
          setTimeout("location.reload(true);",2000);
        }

        </script>


        <hr>

            <div class="row">


              <div class="col-md-3">
                <h1>Carrera</h1>
                <div class="list-group">
                  <%  for   @pro in  @carrera      %>



                  <a id="<%=@pro["id"]%>" href= "/asesoria_g/carreraelecta?carrera=<%=@pro["id"]%>" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Universidad_de_Lima</p>
                    <small class="text-muted">Seleccione carrera</small>
                  </a>
                  <br>

                  <% end    %>



                </div>
              </div>





              <script type="text/javascript">



              function crearasesori(){

                document.getElementById("idases").style.display="none";


              }

              function horasc(){
                ad=document.getElementById("dateoo").value


                var aa = parseInt(ad)+2

                document.getElementById("ddd").innerHTML = ad +"-"+aa + " "+ "horas"


              }

              function fechasc(){
                document.getElementById("dateoo").value=0



                document.getElementById("ddd").innerHTML = " "


              }




            </script>


            <!---------------------------------------------------------->



            <div class="col-md-3">



              <h1>Curso</h1>
              <%  if @busquedacursos==true         %>

              <div class="list-group">

                <%  for   @pro in  @cursot      %>



                <a id="<%=@pro["id"]%>" name="curso" href= "/asesoria_g/cursoselec?cursoelec=<%=@pro["id"]%>&idcarrera=<%=@filacarrera%>" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Universidad_de_Lima</p>
                  <small class="text-muted">Seleccione carrera</small>
                </a>
<br>
                <% end    %>






              </div>

              <%  end        %>
            </div>










<!------------------------------------------------------------------------------------>

          <%  if @mensaje==true         %>
            <script type="text/javascript">
            document.getElementById("crearasesorispanel").style.display="block";
            document.getElementById("<%=@idaseroriaaa%>").style.boxShadow = "10px 10px 30px lightblue";


          </script>

          <%end%>


          <div class="col-md-3">

            <h1 >Profesor</h1>
            <a id="cuerpo_tabla"></a>
            <%  if @busquedaprofesores==true         %>

            <div class="list-group" >

              <%  for   @pro in  @Profesor    %>



              <a id="<%=@pro["id"]%>" name="prof" href= "/asesoria_g/profeselec?profselec=<%=@pro["id"]%>&idcarrera=<%=@filacarrera%>&idcursosec=<%=@filacursosec%>" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Universidad_de_Lima</p>
                <small class="text-muted">Seleccione carrera</small>
              </a>
<br>
              <% end    %>


            </div>
            <%  end        %>



            <%  if @dsds==true         %>

          <%  for   @pro in  @resultados      %>



          <a id="<%=@pro["id"]%>"name="prof"  href= "/asesoria_g/profebusca?profselec=<%=@pro["id"]%>&idcarrera=<%=@filacarrera%>&idcursosec=<%=@filacursosec%>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= @pro["nombre"] %> </h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Universidad_de_Lima</p>
            <small class="text-muted">Seleccione carrera</small>
          </a>
          <br>
  <br>
          <% end    %>

          <% end    %>

          </div>


          <!---------------------------------------------------------->



          <div class="col-md-3">

            <h1>Asesorias</h1>

            <%  if @asesoria1==true         %>

            <div class="list-group">
              <%  for   @pro in  @asesoria      %>
              <ul class="list-group">
                <a  name="aseso" href= "/asesoria_g/solicitarase?cursoselecto=<%=@pro["id"]%>" >

                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= @pro["lugar"] %>/<%=@pro["nombre"]%>/<%=@pro["idsec"]%>

                  <br>
                 <small class="text-muted"><%= @pro["fecha"] %> <%= @pro["ubicacion"] %></small>
                 <span class="badge badge-primary badge-pill"><%= @pro["horai"] %>- <%= @pro["horai"]+2 %>  hrs</span>

                  </li>

                </ul>

                <br>


                <% end    %>

              </div>

              <% end    %>

              <%  if @asesoria2==true         %>

              <div class="list-group">
                <%  for   @pro in  @asesoria      %>

                <ul class="list-group">
                  <a name="aseso"  href= "/asesoria_g/solicitarase?cursoselecto=<%=@pro["id"]%>" >

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <%= @pro["lugar"] %>/<%=@pro["nombre"]%>/<%=@pro["idsec"]%>

                    <br>
                   <small class="text-muted"><%= @pro["fecha"] %> <%= @pro["ubicacion"] %></small>
                   <span class="badge badge-primary badge-pill"><%= @pro["horai"] %>- <%= @pro["horai"]+2 %>  hrs</span>

                    </li>

                  </ul>
                  <br>


                  <% end    %>

                </div>

                <% end    %>

                <%  if @asesoria3==true         %>

                <div class="list-group">
                  <%  for   @pro in  @asesoria      %>

                  <ul class="list-group">
                    <a name="aseso" href= "/asesoria_g/solicitarase?cursoselecto=<%=@pro["id"]%>" >

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= @pro["lugar"] %>/<%=@pro["nombre"]%>/<%=@pro["idsec"]%>

                      <br>
                     <small class="text-muted"><%= @pro["fecha"] %> <%= @pro["ubicacion"] %></small>
                     <span class="badge badge-primary badge-pill"><%= @pro["horai"] %>- <%= @pro["horai"]+2 %>  hrs</span>

                      </li>

                    </ul>
                    <br>


                    <% end    %>

                  </div>

                  <% end    %>


            </div>



            <!---------------------------------------------------------->












          </div>
        </div>
      </div>
