
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/themepingento.css" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <img src="/assets/images/Universidad_de_Lima.png" width="60"  height="60">
      <a class="navbar-brand" href="/login/admin" id="titulon1" class="titulon1">Ulima Asesorias</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa d-inline fa-lg fa-bookmark-o"></i> Bookmarks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa d-inline fa-lg fa-envelope-o"></i> Contactars</a>
              </li>
            </ul>
            <a class="btn navbar-btn btn-primary ml-2 text-white" href="/login/inicio" onclick="ingresar()" ondblclick="finalR()">
              <i class="fa d-inline fa-lg fa-user-circle-o"   ></i >  <%=@idUsuario%></a>
              </div>
            </div>
          </nav>

          <style media="screen">

          .formularios{
            border-radius: 10px;  width:400px;   background-color: #f2f2f2;  padding: 20px;z-index: 3;
          }


          #Registrodatos{
            padding-left:1%; width:350px; margin-top: -1%;position:fixed;z-index: 3;
          }



          #table-wrapper {
            position:relative;
          }
          #table-scroll {
            height:150px;
            overflow:auto;
            margin-top:20px;
          }
          #table-wrapper table {
            width:100%;

          }

          #table-wrapper table thead th .text {
            position:absolute;
            top:-20px;
            z-index:2;
            height:20px;
            width:35%;
            border:1px ;
          }


          @media screen and (min-width:100px) and (max-width:900px) {

            .formularios{
              border-radius: 10px;  width:400px;   background-color: #f2f2f2;  padding: 20px;z-index: 3;
            }


            #Registrodatos{
              padding-left:1%; width:350px; margin-top: -1%;position:relative;z-index: 3;
            }

          }
        </style>



        <div class="py-5" >
          <div class="container">

            <div class="row">

              <div class="col-md-3">
                <div>
                <a href="/asesoria_g/alumnosa">Buscar asesorias</a>     |  <a href="#">Mis datos</a> |  <a href="/asesoria_g/chat">Mensajes</a>
                  </div>

              </div>


           <div class="col-md-3"  >


          </div>

          <div class="col-md-6">





                            <!----------------------------




                <%= form_tag "/asesoria_g/buscador", method: :get do %>
                <%=text_field_tag :keyboard, nil, placeholder: "Busqueda especifica" %>
                <%=content_tag :button, type: :submit do %>
                Buscar
                <%end%>
                  <%end%>

------------------------------>
              </div>



        </div>


        <hr>

            <div class="row">


              <div class="col-md-6">

                <h1>Mis Asesorias</h1>

<a style="color:red"><%=@mensajelol%></a>
                                <%  for   @pro in  @citas      %>


                <ul class="list-group" >
           <li  class="list-group-item d-flex justify-content-between align-items-center"> <a name="aseso" href="/asesoria_g/vercita?citaselecto=<%=@pro["id"]%>"> <%=@pro["nombre"]%>  |   <%=@pro["lugar"]%> </a>
      <%  if @pro["calumno"] ==0        %>
             <span class="badge badge-primary badge-pill">Confirme su cita</span>
                        <% end    %>
           </li>

           <br>
           <% end    %>

              </div>





              <script type="text/javascript">



              function crearasesori(){

                document.getElementById("idases").style.display="none";


              }

              function horasc(){
                ad=document.getElementById("dateoo").value


                var aa = parseInt(ad)+2

                document.getElementById("ddd").innerHTML = ad +"-"+aa + " "+ "horas"


              }

              function fechasc(){
                document.getElementById("dateoo").value=0



                document.getElementById("ddd").innerHTML = " "


              }




            </script>


            <!---------------------------------------------------------->



            <div class="col-md-6">



              <h1>Gestionar cita</h1>


                  <%  if @citamensaje==true         %>

   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <%  if @tema1==true         %>

         <h5 class="modal-title">
            <form class="" action="/asesoria_g/asignartema" id="usrform" method="get">
            <input type="hidden" name="idasesoria" value="<%=@asesorias%>" >

            <input type="text" name="temap" value="sin asignar tema" placeholder="Asignar tema">

            <button type="submit" name="button">✔ Confirmar Cita</button>


          </h5>
           <% end     %>
          <%  if @tema2==true         %>
          <h5 class="modal-title">  <%=@temaCita%></h5>
            <% end     %>
         <button type="button" class="close" data-dismiss="modal">
           <span> <a name="cance" href="/asesoria_g/eliminaraseso?asesorias=<%=@asesorias%>">Cancelar cita</a> </span>
         </button>
       </div>
       <div class="modal-body">
         <label for="">Fecha</label>
         <p><%=@fecha%></p>
         <h1>Resumen</h1>

         <div class="container" style="text-align:center">
           <%  if @tema1==true         %>

         <textarea rows="4" cols="50" name="resumen" form="usrform">

             </textarea>
          <% end     %>
            <%  if @tema2==true         %>
            ><%=@resumen%>
              <% end     %>


          </div>
         <br>

       </div>
        </form>
       <div class="modal-footer">
        <p><%=@mensajep%></p>

       </div>
     </div>
   </div>
 </div>


        <% end     %>






<!------------------------------------------------------------------------------------>

          <%  if @mensaje==true         %>
            <script type="text/javascript">
            document.getElementById("crearasesorispanel").style.display="block";
            document.getElementById("<%=@idaseroriaaa%>").style.boxShadow = "10px 10px 30px lightblue";


          </script>

          <%end%>





            <!---------------------------------------------------------->












          </div>
        </div>
      </div>









      <div id="espacio">

      </div>






      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

    </html>
