
<%= render template: "layouts/profesores" %>




        <div class="py-5" >
          <div class="container">

            <div class="row">

              <div class="col-md-3">
                <div>
                <a href="/asesoria_g/alumnosa">Buscar asesorias</a>     |  <a href="#">Mis datos</a> |  <a href="/asesoria_g/chat">Mensajes</a>
                  </div>

              </div>


           <div class="col-md-3"  >


          </div>

          <div class="col-md-6">





                            <!----------------------------




                <%= form_tag "/asesoria_g/buscador", method: :get do %>
                <%=text_field_tag :keyboard, nil, placeholder: "Busqueda especifica" %>
                <%=content_tag :button, type: :submit do %>
                Buscar
                <%end%>
                  <%end%>

------------------------------>
              </div>



        </div>


        <hr>

            <div class="row">


              <div class="col-md-6">

                <h1>Mis Asesorias</h1>

<a style="color:red"><%=@mensajelol%></a>
                                <%  for   @pro in  @citas      %>


                <ul class="list-group" >
           <li  class="list-group-item d-flex justify-content-between align-items-center"> <a name="aseso" href="/asesoria_g/vercita?citaselecto=<%=@pro["id"]%>"> <%=@pro["nombre"]%>  |   <%=@pro["lugar"]%> </a>
      <%  if @pro["calumno"] ==0        %>
             <span class="badge badge-primary badge-pill">Confirme su cita</span>
                        <% end    %>
           </li>

           <br>
           <% end    %>

              </div>





              <script type="text/javascript">



              function crearasesori(){

                document.getElementById("idases").style.display="none";


              }

              function horasc(){
                ad=document.getElementById("dateoo").value


                var aa = parseInt(ad)+2

                document.getElementById("ddd").innerHTML = ad +"-"+aa + " "+ "horas"


              }

              function fechasc(){
                document.getElementById("dateoo").value=0



                document.getElementById("ddd").innerHTML = " "


              }




            </script>


            <!---------------------------------------------------------->



            <div class="col-md-6">



              <h1>Gestionar cita</h1>


                  <%  if @citamensaje==true         %>

   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <%  if @tema1==true         %>

         <h5 class="modal-title">
            <form class="" action="/asesoria_g/asignartema" id="usrform" method="get">
            <input type="hidden" name="idasesoria" value="<%=@asesorias%>" >

            <input type="text" name="temap" value="sin asignar tema" placeholder="Asignar tema">

            <button type="submit" name="button">✔ Confirmar Cita</button>


          </h5>
           <% end     %>
          <%  if @tema2==true         %>
          <h5 class="modal-title">  <%=@temaCita%></h5>
            <% end     %>
         <button type="button" class="close" data-dismiss="modal">
           <span> <a name="cance" href="/asesoria_g/eliminaraseso?asesorias=<%=@asesorias%>">Cancelar cita</a> </span>
         </button>
       </div>
       <div class="modal-body">
         <label for="">Fecha</label>
         <p><%=@fecha%></p>
         <h1>Resumen</h1>

         <div class="container" style="text-align:center">
           <%  if @tema1==true         %>

         <textarea rows="4" cols="50" name="resumen" form="usrform">

             </textarea>
          <% end     %>
            <%  if @tema2==true         %>
            ><%=@resumen%>
              <% end     %>


          </div>
         <br>

       </div>
        </form>
       <div class="modal-footer">
        <p><%=@mensajep%></p>

       </div>
     </div>
   </div>
 </div>


        <% end     %>






<!------------------------------------------------------------------------------------>

          <%  if @mensaje==true         %>
            <script type="text/javascript">
            document.getElementById("crearasesorispanel").style.display="block";
            document.getElementById("<%=@idaseroriaaa%>").style.boxShadow = "10px 10px 30px lightblue";


          </script>

          <%end%>





            <!---------------------------------------------------------->












          </div>
        </div>
      </div>
