
<%= render template: "layouts/profesores" %>
        <div class="py-5" >
          <div class="container">

            <div class="row">

              <div class="col-md-3">
                <div>
                <a href="/asesoria_g/profesoresa">Inicio</a>   |<a href="/asesoria_g/estado_reporte.pdf">Reporte Asesorias</a>  |    <a href="/asesoria_g/chat">Mensajes</a>
                  </div>

              </div>


           <div class="col-md-3"  >


          </div>

          <div class="col-md-6">





                            <!----------------------------




                <%= form_tag "/asesoria_g/buscador", method: :get do %>
                <%=text_field_tag :keyboard, nil, placeholder: "Busqueda especifica" %>
                <%=content_tag :button, type: :submit do %>
                Buscar
                <%end%>
                  <%end%>

------------------------------>
              </div>



        </div>


        <hr>

            <div class="row">


              <div class="col-md-6">

                <h1>Mis Asesorias</h1>

                                <%  for   @pro in  @citas      %>


                <ul class="list-group" >
           <li class="list-group-item d-flex justify-content-between align-items-center"> <a href="/asesoria_g/gcita?citaselecto=<%=@pro["cid"]%>"> <%=@pro["c"]%>- <%=@pro["idsec"]%> |   <%=@pro["u"]%>   -  <%=@pro["codigo"]%>| Tema: <%=@pro["tema"]%></a>
    <%  if @pro["cprofesor"] ==0       %>
             <span class="badge badge-primary badge-pill">Realizar reporte</span>
           <% end    %>
           </li>

           <br>
           <% end    %>

              </div>







            <!---------------------------------------------------------->



            <div class="col-md-6">



              <h1>Gestionar cita</h1>


                  <%  if @citamensaje==true         %>

   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <form class="" action="/asesoria_g/realizareport" id="usrform" method="get">

         <h5 class="modal-title">
          <input type="hidden" name="idasesoria" value="<%=@citaid%>" >

            <input style="position:left" type="text" name="temap" value="<%=@temaCita%>" placeholder="renombrar tema">


            <button type="submit"  name="button">✔ Realizar reporte</button>

          </h5>




       </div>
       <div class="modal-body">
         <label for="">Fecha</label>
          <p><%=@fecha%></p>
         <br>
         <label>Resumen del alumno</label>
           <p><%=@resumen%></p>
         <label>Reporte</label>
         <div class="container" style="text-align:center">
           <textarea rows="4" cols="50" name="reporte" form="usrform">
<%=@reporte%>
            </textarea>
          </div>

         <br>

       </div>
       <div class="modal-footer">
        <p><%=@mensajep%></p>


       </div>
     </div>
   </div>
 </div>

  </form>

        <% end     %>






<!------------------------------------------------------------------------------------>

          <%  if @mensaje==true         %>
            <script type="text/javascript">
            document.getElementById("crearasesorispanel").style.display="block";
            document.getElementById("<%=@idaseroriaaa%>").style.boxShadow = "10px 10px 30px lightblue";


          </script>

          <%end%>





            <!---------------------------------------------------------->












          </div>
        </div>
      </div>
