


<%= render template: "layouts/confi" %>


<table class="table table-striped" >
  <thead>
    <tr>
      <th> Curso</th>
      <th> Modificar</th>


    </tr>
  </thead>
  <tbody>
    <%  for   @pro in   @Curso     %>
         <form class="" action="/gadmin/cambiarnombre" method="get">
    <tr>

    <td> <%= @pro["nombre"]  %> </td>

      <td>
        <input  id="renom" type="hidden" name="idc" value="<%= @pro["id"]  %> ">
        <input  id="renom"  name="nombre" value=""> |
        <button type="none" id="renom2" onclick="ren()">Renombrar</button> |


        <%  if  @pro["nivelusuario"]  ==1        %>
                  <a id="desha" href="/gadmin/deshabilitar?idc=<%= @pro["id"]  %>">
deshabilitar
                    </a>

        <% else %>

                  <a id="desha" href="/gadmin/habilitar?idc=<%= @pro["id"]  %>">
habilitar
                    </a>
        <%  end    %>


</td>



    </tr>
      </form>
    <% end %>

  </tbody>
</table>
<label for="">
<%=@mensaje%>
</label>>
<script type="text/javascript">


</script>
