

<%= render template: "layouts/confi" %>


    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">


            <h1 style="text-align:center">Configurar usuarios ya aceptados</h1>
            <hr>
            <br>
            <div id="table-wrapper">
              <div id="table-scroll">

            <table class="table table-striped" >
              <thead>
                <tr>

                  <th><span class="text">Codigo</span></th>

                  <th><span class="text">Nivel de usuario</span></th>
                  <th><span class="text">Cambio de contraseña</span></th>


                  <th><span class="text">Cambiar Foto</span></th>



                </tr>

              </thead>
              <tbody>

                <%  for   @pro in  @todos      %>
                     <form class="" action="/gadmin/asignarU" method="get">
                <tr>

                <td>
                  <%= @pro["codigo"]  %>

                </td>

                  <td>
                       <input type="hidden" name="tipof" value=1 >

                       <input type="hidden" name="idser" value="<%= @pro["id"] %>" >


                       <label for="radio1"> Admin </label>
                       <input id="radio1" name="nivelu" value="1" type="radio" style="z-index:3">

        <br>
                      <label for="radio2">  Profesor </label>
                      <input id="radio2" name="nivelu" value="2" type="radio" style="z-index:3"><br>
                <label for="radio3"> Alumno</label>

                       <input id="radio3" name="nivelu" value="3" type="radio">



            </td>


                  <td>

                    <input type="text" value="<%= @pro["contrasena"]  %>" name="contra"placeholder="Contraseña" >

                  </td>

                  <td>       <td> <img src=  "https://icon-icons.com/icons2/827/PNG/512/user_icon-icons.com_66546.png" width="30" height="30"/>  </td>
</td>



                   <td>

                               <button class="btn btn-primary btn-xs" type="submit" name="button" >Aceptar</button>
                 </td>



                </tr>
                  </form>
                <% end %>

              </tbody>
            </table>








          </div>
          </div>

          </div>



          <div class="col-md-4" >


            <br>

            <h1 style="text-align:center">Configuración rápida</h1>
            <hr>


            <div class="formularios" id="Registrodatos">



              <%=   @comentarioser%>
              <table class="table table-striped" >

                <thead>
                  <tr>
                    <th> Profesor</th>
                    <th> Sección</th>



                  </tr>
                </thead>
                <tbody>


                  <form class="" action="/gadmin/asignarprofsec" method="get">
                    <td>


                      <% carrera = @Profesor.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                      <%= select_tag("selectedprofe", options_for_select(carrera)) %>



                    </td>
                    <td>
                      <% secci = @SeccionD.all.map{|x| [ x.idsec.to_s + x.nombre.to_s ] + [x.id.to_s+'_'+x.idsec.to_s]} %>

                      <%= select_tag("selectedsecc", options_for_select(secci)) %>

                      <button class="btn btn-primary btn-xs" type="submit" name="button">Asignar profesor</button>

                    </form>

                  </td>

                </form><!-- form -->


              </tbody>
            </table>


            <table class="table table-striped">

              <thead>
                <tr>
                  <th> Carrera</th>

                  <th> Curso</th>

                </tr>
              </thead>


              <td>
                <form method="get" action="crearc">



                  <!-- <% cursos = Curso.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>-->

                  <% carrera = @Carrera.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                  <%= select_tag("selectedCarrera", options_for_select(carrera)) %>




                </td>

                <td>
                  <% cursos = @Curso.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                  <%= select_tag("selectedCurso", options_for_select(cursos)) %>






                  <button type="submit" class="btn btn-primary btn-xs">Asignar curso</button>


                </td>

              </form><!-- form -->




            </tbody>
          </table>

          <table class="table table-striped">

            <thead>
              <tr>
                <th> Curso</th>
                <th> Semestre</th>
                <th> Sección</th>


              </tr>
            </thead>

            <form method="get" action="enlazar">

              <td>
                <% cursos = @Curso.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                <%= select_tag("selectedCurso", options_for_select(cursos)) %>


              </td>

              <td>
                <% semes = @Semestre.all.map{|x| [x.fecha.to_s.capitalize] + [x.id.to_s+'_'+x.fecha.to_s]} %>

                <%= select_tag("selectedseme", options_for_select(semes)) %>


              </td>
              <td>
                <% secci = @Seccion.all.map{|x| [x.idsec.to_s.capitalize] + [x.id.to_s+'_'+x.idsec.to_s]} %>

                <%= select_tag("selectedsecc", options_for_select(secci)) %>

                <button type="submit" class="btn btn-primary btn-xs">Asignar curso</button>

              </td>



            </form><!-- form -->




          </tbody>
        </table>





        <table class="table table-striped">

          <thead>
            <tr>
              <th> Carrera</th>
              <th> Semestre</th>
              <th> Sección</th>
              <th> Curso</th>
            </tr>
          </thead>


          <td>

            <form method="get" action="crearcarrera">


              <input type="text" class="form-control" placeholder="Carrera" name="crearcarrera" required>
              <button type="submit" class="btn btn-primary"  > <i class="fa fa-check">  </button></i>
            </form><!-- form -->



          </td>
          <td>
            <form method="get" action="crearsemestre">


              <input type="text" class="form-control" placeholder="Nombre" name="crearsemestre" required>

              <button type="submit" class="btn btn-primary" > <i class="fa fa-check">  </button></i>
            </form><!-- form -->



          </td>
          <td>
            <form method="get" action="crearsession">



              <input type="text" class="form-control" placeholder="Nombre" name="crearsession" required>

              <button type="submit" class="btn btn-primary" > <i class="fa fa-check">  </button></i>


            </form><!-- form -->



          </td>
          <td>
            <form method="get" action="crearcurso">



              <input type="text" class="form-control" placeholder="Nombre" name="crearcurso" required>


              <button type="submit" class="btn btn-primary" > <i class="fa fa-check">  </button></i>
            </form><!-- form -->




          </td>



        </tbody>

      </table>










      <a   style="color:#FF0000; text-transform: uppercase "  ><%= @kikoko%></a>

<a href="#"></a>


    </div>


  </div>
</div>



</div>
</div>













        <div class="py-5">
          <div class="container">
            <div class="row">



              <div class="col-md-8">
                <h1 style="text-align:center">Configurar nuevos usuario</h1>
                <hr>

                                            <table class="table table-striped" >
                                              <thead>
                                                <tr>
                                                  <th> Usuario</th>
                                                  <th> Nivel usuario</th>
                                                  <th> Email</th>
                                                  <th> Código</th>


                                                </tr>
                                              </thead>
                                              <tbody>
                                                <%  for   @pro in  @todos2      %>
                                                     <form class="" action="/gadmin/asignarU" method="get">
                                                <tr>

                                                <td> <input type="text"  name="nombre" value= "<%= @pro["nombre"]  %>"   placeholder="_Ingrese nombre"></td>

                                                  <td>

                                                       <input type="hidden" name="idser" value="<%= @pro["id"] %>" >


                                                       <label for="radio1"> Admin </label>
                                                       <input id="radio1" name="nivelu" value="1" type="radio" style="z-index:3">

                                  <br>
                                                      <label for="radio2">  Profesor </label>
                                                      <input id="radio2" name="nivelu" value="2" type="radio" style="z-index:3"><br>
                                                <label for="radio3"> Alumno</label>

                                                       <input id="radio3" name="nivelu" value="3" type="radio">



                                            </td>
                                                  <td>  <input type="text" value="<%= @pro["email"]  %>" name="email"placeholder="Ingrese email" ></td>
                                                    <input type="hidden" name="tipof" value=2 >
                                                  <td>     <input type="text" name="codigo" value="<%= @pro["codigo"]  %>" placeholder="Ingrese codigo" >


                                                             <button class="btn btn-primary btn-xs" type="submit" name="button" >Aceptar</button>
                                                 </td>



                                                </tr>
                                                  </form>
                                                <% end %>

                                              </tbody>
                                            </table>




              </div>
            </div>



              </div>



              <div class="col-md-4">





              </div>
            </div>
