
  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

  <body>

      <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <div class="container">
          <img src="/assets/images/Universidad_de_Lima.png" width="60"  height="60">
          <a class="navbar-brand" href="/login/admin" id="titulon1" class="titulon1">Ulima Asesorias</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav" >
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa d-inline fa-lg fa-bookmark-o"></i> Bookmarks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa d-inline fa-lg fa-envelope-o"></i> Contactars</a>
              </li>
            </ul>
            <a class="btn navbar-btn btn-primary ml-2 text-white"  onclick="ingresar()" ondblclick="finalR()">
              <i class="fa d-inline fa-lg fa-user-circle-o"   ></i >  <%=@idUsuario%></a>
          </div>
        </div>
      </nav>

<style media="screen">

.formularios{
  border-radius: 10px;  width:400px;   background-color: #f2f2f2;  padding: 20px;z-index: 3;
}


#Registrodatos{
  padding-left:1%; width:350px; margin-top: -1%;position:fixed;z-index: 3;
}



#table-wrapper {
position:relative;
}
#table-scroll {
height:150px;
overflow:auto;
margin-top:20px;
}
#table-wrapper table {
width:100%;

}

#table-wrapper table thead th .text {
position:absolute;
top:-20px;
z-index:2;
height:20px;
width:35%;
border:1px ;
}


@media screen and (min-width:100px) and (max-width:900px) {

  .formularios{
    border-radius: 10px;  width:400px;   background-color: #f2f2f2;  padding: 20px;z-index: 3;
  }


  #Registrodatos{
    padding-left:1%; width:350px; margin-top: -1%;position:relative;z-index: 3;
  }

}
</style>











    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">


            <h1 style="text-align:center">Configurar usuarios ya aceptados</h1>
            <hr>
            <br>
            <div id="table-wrapper">
              <div id="table-scroll">

            <table class="table table-striped" >
              <thead>
                <tr>

                  <th><span class="text">Codigo</span></th>

                  <th><span class="text">Nivel de usuario</span></th>
                  <th><span class="text">Cambio de contraseña</span></th>


                  <th><span class="text">Cambiar Foto</span></th>
                


                </tr>

              </thead>
              <tbody>

                <%  for   @pro in  @todos      %>
                     <form class="" action="/gadmin/asignarU" method="get">
                <tr>

                <td>
                  <%= @pro["codigo"]  %>

                </td>

                  <td>


                       <input type="hidden" name="idser" value="<%= @pro["id"] %>" >


                       <label for="radio1"> Admin </label>
                       <input id="radio1" name="nivelu" value="1" type="radio" style="z-index:3">

        <br>
                      <label for="radio2">  Profesor </label>
                      <input id="radio2" name="nivelu" value="2" type="radio" style="z-index:3"><br>
                <label for="radio3"> Alumno</label>

                       <input id="radio3" name="nivelu" value="3" type="radio">



            </td>


                  <td>

                    <input type="text" value="<%= @pro["contrasena"]  %>" name="email"placeholder="Ingrese email" >

                  </td>

                  <td>       <td> <img src=  "https://icon-icons.com/icons2/827/PNG/512/user_icon-icons.com_66546.png" width="30" height="30"/>  </td>
</td>



                   <td>

                               <button class="btn btn-primary btn-xs" type="submit" name="button" >Aceptar</button>
                 </td>



                </tr>
                  </form>
                <% end %>

              </tbody>
            </table>








          </div>
          </div>

          </div>



          <div class="col-md-4" >


            <br>

            <h1 style="text-align:center">Configuración rápida</h1>
            <hr>


            <div class="formularios" id="Registrodatos">



              <%=   @comentarioser%>
              <table class="table table-striped" >

                <thead>
                  <tr>
                    <th> Profesor</th>
                    <th> Sección</th>



                  </tr>
                </thead>
                <tbody>


                  <form class="" action="/gadmin/asignarprofsec" method="get">
                    <td>


                      <% carrera = @Profesor.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                      <%= select_tag("selectedprofe", options_for_select(carrera)) %>



                    </td>
                    <td>
                      <% secci = @SeccionD.all.map{|x| [ x.idsec.to_s + x.nombre.to_s ] + [x.id.to_s+'_'+x.idsec.to_s]} %>

                      <%= select_tag("selectedsecc", options_for_select(secci)) %>

                      <button class="btn btn-primary btn-xs" type="submit" name="button">Asignar profesor</button>

                    </form>

                  </td>

                </form><!-- form -->


              </tbody>
            </table>


            <table class="table table-striped">

              <thead>
                <tr>
                  <th> Carrera</th>

                  <th> Curso</th>

                </tr>
              </thead>


              <td>
                <form method="get" action="crearc">



                  <!-- <% cursos = Curso.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>-->

                  <% carrera = @Carrera.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                  <%= select_tag("selectedCarrera", options_for_select(carrera)) %>




                </td>

                <td>
                  <% cursos = @Curso.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                  <%= select_tag("selectedCurso", options_for_select(cursos)) %>






                  <button type="submit" class="btn btn-primary btn-xs">Asignar curso</button>


                </td>

              </form><!-- form -->




            </tbody>
          </table>

          <table class="table table-striped">

            <thead>
              <tr>
                <th> Curso</th>
                <th> Semestre</th>
                <th> Sección</th>


              </tr>
            </thead>

            <form method="get" action="enlazar">

              <td>
                <% cursos = @Curso.all.map{|x| [x.nombre.to_s.capitalize] + [x.id.to_s+'_'+x.nombre.to_s]} %>

                <%= select_tag("selectedCurso", options_for_select(cursos)) %>


              </td>

              <td>
                <% semes = @Semestre.all.map{|x| [x.fecha.to_s.capitalize] + [x.id.to_s+'_'+x.fecha.to_s]} %>

                <%= select_tag("selectedseme", options_for_select(semes)) %>


              </td>
              <td>
                <% secci = @Seccion.all.map{|x| [x.idsec.to_s.capitalize] + [x.id.to_s+'_'+x.idsec.to_s]} %>

                <%= select_tag("selectedsecc", options_for_select(secci)) %>

                <button type="submit" class="btn btn-primary btn-xs">Asignar curso</button>

              </td>



            </form><!-- form -->




          </tbody>
        </table>





        <table class="table table-striped">

          <thead>
            <tr>
              <th> Carrera</th>
              <th> Semestre</th>
              <th> Sección</th>
              <th> Curso</th>
            </tr>
          </thead>


          <td>

            <form method="get" action="crearcarrera">


              <input type="text" class="form-control" placeholder="Carrera" name="crearcarrera" required>
              <button type="submit" class="btn btn-primary"  > <i class="fa fa-check">  </button></i>
            </form><!-- form -->



          </td>
          <td>
            <form method="get" action="crearsemestre">


              <input type="text" class="form-control" placeholder="Nombre" name="crearsemestre" required>

              <button type="submit" class="btn btn-primary" > <i class="fa fa-check">  </button></i>
            </form><!-- form -->



          </td>
          <td>
            <form method="get" action="crearsession">



              <input type="text" class="form-control" placeholder="Nombre" name="crearsession" required>

              <button type="submit" class="btn btn-primary" > <i class="fa fa-check">  </button></i>


            </form><!-- form -->



          </td>
          <td>
            <form method="get" action="crearcurso">



              <input type="text" class="form-control" placeholder="Nombre" name="crearcurso" required>


              <button type="submit" class="btn btn-primary" > <i class="fa fa-check">  </button></i>
            </form><!-- form -->




          </td>



        </tbody>

      </table>










      <a   style="color:#FF0000; text-transform: uppercase "  ><%= @kikoko%></a>




    </div>


  </div>
</div>



</div>
</div>













        <div class="py-5">
          <div class="container">
            <div class="row">



              <div class="col-md-8">
                <h1 style="text-align:center">Configurar nuevos usuario</h1>
                <hr>

                                            <table class="table table-striped" >
                                              <thead>
                                                <tr>
                                                  <th> Usuario</th>
                                                  <th> Nivel usuario</th>
                                                  <th> Email</th>
                                                  <th> Código</th>


                                                </tr>
                                              </thead>
                                              <tbody>
                                                <%  for   @pro in  @todos2      %>
                                                     <form class="" action="/gadmin/asignarU" method="get">
                                                <tr>

                                                <td> <input type="text"  name="nombre" value= "<%= @pro["nombre"]  %>"   placeholder="_Ingrese nombre"></td>

                                                  <td>

                                                       <input type="hidden" name="idser" value="<%= @pro["id"] %>" >


                                                       <label for="radio1"> Admin </label>
                                                       <input id="radio1" name="nivelu" value="1" type="radio" style="z-index:3">

                                  <br>
                                                      <label for="radio2">  Profesor </label>
                                                      <input id="radio2" name="nivelu" value="2" type="radio" style="z-index:3"><br>
                                                <label for="radio3"> Alumno</label>

                                                       <input id="radio3" name="nivelu" value="3" type="radio">



                                            </td>
                                                  <td>  <input type="text" value="<%= @pro["email"]  %>" name="email"placeholder="Ingrese email" ></td>

                                                  <td>     <input type="text" name="codigo" value="<%= @pro["codigo"]  %>" placeholder="Ingrese codigo" >


                                                             <button class="btn btn-primary btn-xs" type="submit" name="button" >Aceptar</button>
                                                 </td>



                                                </tr>
                                                  </form>
                                                <% end %>

                                              </tbody>
                                            </table>




              </div>
            </div>



              </div>



              <div class="col-md-4">





              </div>
            </div>













<div id="espacio">

</div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  </html>
